{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {config, "config/sys.config"},
    {apps, [grisp_runtime]}
]}.

{relx, [
	{release, {grisp_runtime, "0.1.0"}, [
		grisp_runtime
	]},
	{include_erts, true},
	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},
	{extended_start_script, true},
	{include_src, false}
]}.
