[
    {grisp_runtime, [
    ]},

    {grisp_updater_kalblimx8mm, [
    ]},

    {grisp_keychain, [
        {api_module, grisp_keychain_filesystem},
        {tls_server_trusted_certs, <<"/security/servers">>},
        {tls_use_client_certificate, true},
        {tls_verify, verify_peer},
        {client_certs, <<"/security/device/device_cert.pem">>},
        {client_key, <<"/security/device/device_key.pem">>},
        {allow_expired_certs, true}
    ]},

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{type => standard_io},
                level => debug,
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }},
                filter_default => log,
                filters => [
                    % Filter out supervisor progress reports so TLS certificates
                    % are not swamping the console if level is set to info...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
            }}
        ]}
    ]},

    {grisp_updater, [
        {signature_check, true},
        {signature_certificates, <<"/security/software_update/signature_cert.pem">>},
        {system, {grisp_updater_kalblimx8mm, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_kalblimx8mm, #{}}
            }}
        ]}
    ]}
].
