[
    {grisp_runtime, [
    ]},

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{type => standard_io},
                level => debug,
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }},
                filter_default => log,
                filters => [
                    % Filter out supervisor progress reports so TLS certificates
                    % are not swamping the console if level is set to info...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
            }}
        ]}
    ]},

    {grisp_updater, [
        {signature_check, false},
        {signature_certificates, {priv, grisp_runtime, "certificates/updates"}},
        {system, {grisp_updater_kalblimx8mm, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_kalblimx8mm, #{}}
            }}
        ]}
    ]}
].
