[
    {grisp_runtime, [
    ]},

    {grisp_netman, [
        {dry_run, true},
        {interfaces, []}
    ]},

    {grisp_connect, [
        {connect, false},
        {domain, "www.seawater.local"},
        {port, 8443},
        % Disable the log handler defined in grisp_connect application default
        % configuration, as it was explicitly started in kernel configuration
        % in order to catch the log entries before grisp_connect is started.
        {logger, []},
        {board_certificate, "priv/board.pem"},
        {allowed_ca_chain, "priv/peers.CA.pem"}
    ]},

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{type => standard_io},
                level => debug,
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }},
                filter_default => log,
                filters => [
                    % Filter out supervisor progress reports so TLS certificates
                    % are not swamping the console if level is set to info...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
            }}
        ]}
    ]},

    {grisp_updater, [
        {signature_check, false},
        {signature_certificates, {priv, grisp_runtime, "certificates/updates"}},
        {system, {grisp_updater_kalblimx8mm, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_kalblimx8mm, #{}}
            }}
        ]}
    ]}
].
