[
    {grisp_runtime, [
    ]},

    {grisp_netman, [
        {interfaces, [
            {"eth0", [
                {type, grisp_netman_ethernet},
                {ipv4, [
                    {method, dhcp}
                ]}
            ]},
            {"can0", [
                {type, grisp_netman_can},
                {bitrate, 500000}
            ]}
        ]}
     ]},

    {grisp_updater_kalblimx8mm, [
    ]},

    {grisp_keychain, [
        {api_module, grisp_keychain_filesystem},
        {tls_server_trusted_certs, <<"/security/servers">>},
        {tls_client_trusted_certs_cb, {certifi, cacerts, []}},
        {tls_use_client_certificate, true},
        {tls_verify, verify_peer},
        {client_certs, <<"/security/device/device_cert.pem">>},
        {client_key, <<"/security/device/device_key.pem">>}
    ]},

    {grisp_connect, [
       {domain, "www.seawater.local"},
       {port, 8443},
       % Disable the log handler defined in grisp_connect application default
       % configuration, as it was explicitly started in kernel configuration
       % in order to catch the log entries before grisp_connect is started.
       {logger, []},
       {board_certificate, "/data/board.pem"},
       {allowed_ca_chain, "/data/peers.CA.pem"}
    ]},

    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter => {grisp_connect_log, #{
                    legacy_header => false,
                    single_line => true,
                    description_only => true
                }},
                filter_default => log,
                filters => [
                    % Filter out supervisor progress reports so TLS certificates
                    % are not swamping the console if level is set to info...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
            }},
            {handler, grisp_connect_log_handler,  grisp_connect_logger_bin, #{
                level => info,
                filter_default => log,
                formatter => {grisp_connect_logger_bin, #{}},
                filters => [
                    % Filter out supervisor progress reports so TLS certificates
                    % are not swamping grisp.io if level is set to info...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
             }
            }
        ]}
    ]},

    {grisp_updater, [
        {signature_check, true},
        {signature_certificates, <<"/security/software_update/signature_cert.pem">>},
        {system, {grisp_updater_kalblimx8mm, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_kalblimx8mm, #{}}
            }}
        ]}
    ]}
].
